name: fetch raw and generate m3u

on:
  workflow_dispatch:

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Run scripts
        run: |
          node fetch-metadata.js
          node merge-metadata.js
          node actions/gen-m3u-generic.js
          node actions/gen-m3u-ku9.js
      - name: Set Git author
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Make changes
        run: |
          git add .
          git commit -m "Update" || echo "No changes"
          git push